<div class="center_right">
  <div class="links_social">
    <a href="#"><img src="/images/facebook.png" /></a>
  </div>
  <div class="links_social2">
    <a href="#"><img src="/images/twitter.png" /></a>
  </div>
  <div class="links_social">
    <img src="/images/contacto.png" />
  </div>
  <%= erb :_contact %>
</div>