<!-- formee-->
<form class="formee" method="post" action="/project/mail"><br/><br/>
  <fieldset>
    <div class="grid-12-12">
      <label>Nombre <em class="formee-req"></em></label>
      <input name="name" type="text" value="" />
    </div>
    <div class="grid-12-12">
      <label>E-mail <em class="formee-req"></em></label>
      <input name="mail" type="text" value="" />
    </div>
    <div class="grid-12-12">
      <label>Telefono <em class="formee-req"></em></label>
      <input name="phone" type="text" value="" />
    </div>
    <div class="grid-12-12 clear">
      <label>Comentario<em class="formee-req"></em></label>
      <textarea name="description" name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="grid-12-12">
      <input class="right" type="submit" value="Enviar" />
    </div>
  </fieldset>  
</form>
<!-- formee-->