<!-- formee-->
<form class="formee" action=""><br/><br/>
  <fieldset>
    <div class="grid-12-12">
      <label>Nombre <em class="formee-req"></em></label>
      <input type="text" value="" />
    </div>
    <div class="grid-12-12">
      <label>E-mail <em class="formee-req"></em></label>
      <input type="text" value="" />
    </div>
    <div class="grid-12-12">
      <label>Telefono <em class="formee-req"></em></label>
      <input type="text" value="" />
    </div>
    <div class="grid-12-12 clear">
      <label>Comentario<em class="formee-req"></em></label>
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
    <div class="grid-12-12">
      <input class="right" type="submit" value="Enviar" />
    </div>
  </fieldset>  
</form>
<!-- formee-->