<div id="footer">
  <div class"linea_footer">
    <ul class="menu_footer2">
      <li><a id="btn2" href="/"/>Institucional</a></li>
      <li><a id="btn2" href="/noticias"/>Noticias</a></li>
      <li><a id="btn2" href="/actividades"/>Actividades</a></li>
      <li><a id="btn2" href="/aboutus"/>Quienes somos?</a></li>
      <li><a id="btn2" href="/links"/>Links</a></li>
      <li><a id="btn2" href="https://www.facebook.com/centrodeestudiosydesarrollo/photos_albums"/>Fotos</a></li>
    </ul>
  </div>
</div>