<div id="footer">
  <div class"linea_footer">
    <ul class="menu_footer2">
      <li><a id="btn2" href="index.html"/>Institucional</a></li>
      <li><a id="btn2" href="noticias.html"/>Noticias</a></li>
      <li><a id="btn2" href="actividades.html"/>Actividades</a></li>
      <li><a id="btn2" href="contactos.html"/>Contactos</a></li>
      <li><a id="btn2" href="links.html"/>Links</a></li>
      <li><a id="btn2" href="https://www.facebook.com/centrodeestudiosydesarrollo/photos_stream"/>Fotos</a></li>
      <li><a id="btn2" href="#" onclick="$('#login-box').reveal();"/>Login</a></li>
    </ul>
  </div>
</div>