<div class="id_noticia">
  <h1>Nueva noticia</h1>
  <form action='/news/create' enctype="multipart/form-data" class="formee" method='post'>
    <div class="grid-6-12">
      <label>Titulo: 
        <input type="text" name="title"/>
      </label>
    </div>
    <div class="grid-6-12">
      <label>Link: 
        <input type="text" name="link"/>
      </label>
    </div>
    <div class="grid-6-12">
      <label>Foto:
        <input type="file" name="photo"/>
      </label>
    </div>
    <div class="grid-6-12">
      <label>Descripcion:
        <textarea name="description"></textarea>
      </label>
    </div>
    
    <div class="grid-6-12">
      <label>Mostar: 
        <input type="checkbox" name="show"/>
      </label>
    </div>
    <div class="create-product">
      <input type="submit" value="Guardar" class="btn_vermas" />
    </div>
  </form>
</div>
