<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	
<html>
	<head>
		<title>CEDIP</title>
        <script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>
			<script type="text/javascript" src="js/formee.js"></script>
            <link rel="stylesheet" href="css/formee-structure.css" type="text/css" media="screen" />
            <link rel="stylesheet" href="css/formee-style.css" type="text/css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/style.css"> 
		<link rel="stylesheet" type="text/css" href="css/reset.css">
   		<link rel="stylesheet" href="blueberry.css" />
        <link href='http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<style type="text/css">

        #header {
            height: 60px;
            padding-top: 20px; padding-bottom: 20px;
            text-align: center;
            
        }
        #header h1 {
            margin: 0 auto;
            min-width: 740px;
            max-width: 1140px;
        }
        #doc { margin: 40px 0; }
        #content {
            margin: 0 auto;
            min-width: 740px;
            max-width: 1140px;
        }
        
        .blueberry { max-width: 960px; }
        
        -->
        </style>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
        <script src="jquery.blueberry.js"></script>
        
        <script>
        $(window).load(function() {
            $('.blueberry').blueberry();
        });
        </script>
		
	</head>
	
	<body>
		<div id="barra_top"></div>
		<div id="contenedor_principal">
			<div id="header">
				<div class="logo_top">
					<img src="images/logo.png">
				</div>
				<div class="slogan_top">
					<img src="images/slogan.png">
				</div>
                <div class="slogan_top2">
					<img src="images/slogan2.png">
				</div>
				<ul class="menu">
					<li><a id="btn" href="index.html"/>Institucional</a></li>
                    <li><a id="btn" href="noticias.html"/>Noticias</a></li>
                    <li><a id="btn" href="actividades.html"/>Actividades</a></li>
                    <li><a id="btn" href="contactos.html"/>Contactos</a></li>
                    <li><a id="btn" href="links.html"/>Links</a></li>
                    <li><a id="btn" href="https://www.facebook.com/centrodeestudiosydesarrollo/photos_stream"/>Fotos</a></li>
                    <li><a id="btn" href="videos.html"/>Videos</a></li>
				</ul>
			</div>
            
            
            
            
            
            <div id="center">
                
                <div id="center_left">
                    <!-- formee-->
                        
                        <form class="formee" action=""><br/><br/>
                        
                        
                        <fieldset>
                        
                            <div class="grid-12-12">
                                    <label>Nombre <em class="formee-req"></em></label>
                                   <input type="text" value="" />
                            </div>
                            <div class="grid-12-12">
                                    <label>E-mail <em class="formee-req"></em></label>
                                   <input type="text" value="" />
                            </div>
                            <div class="grid-12-12">
                                    <label>Telefono <em class="formee-req"></em></label>
                                   <input type="text" value="" />
                            </div>
                              
                            <div class="grid-12-12 clear">
                                    <label>Comentario<em class="formee-req"></em></label>
                                   <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                            <div class="grid-12-12">
                                   <input class="right" type="submit" value="Enviar" />
                            </div>
                        </fieldset>  
                        </form>
                        <!-- formee--> 

                </div>
                <div class="center_right">
                	<div class="links_social">
                    	<a href="#"><img src="images/facebook.png" /></a>
                    </div>
                    <div class="links_social">
                    	<a href="#"><img src="images/twitter.png" /></a>
                    </div>
                    <div class="links_social">
                    	<img src="images/contacto.png" />
                    </div>
                       <!-- formee-->
                        
                        <form class="formee" action=""><br/><br/>
                        
                        
                        <fieldset>
                        
                            <div class="grid-12-12">
                                    <label>Nombre <em class="formee-req"></em></label>
                                   <input type="text" value="" />
                            </div>
                            <div class="grid-12-12">
                                    <label>E-mail <em class="formee-req"></em></label>
                                   <input type="text" value="" />
                            </div>
                            <div class="grid-12-12">
                                    <label>Telefono <em class="formee-req"></em></label>
                                   <input type="text" value="" />
                            </div>
                              
                            <div class="grid-12-12 clear">
                                    <label>Comentario<em class="formee-req"></em></label>
                                   <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                            <div class="grid-12-12">
                                   <input class="right" type="submit" value="Enviar" />
                            </div>
                        </fieldset>  
                        </form>
                        <!-- formee-->

                   
                </div>  
            </div>
            
            
            
            
            <div id="footer">
            	<div class"linea_footer">
                	<ul class="menu_footer2">
					<li><a id="btn2" href="index.html"/>Institucional</a></li>
                    <li><a id="btn2" href="noticias.html"/>Noticias</a></li>
                    <li><a id="btn2" href="actividades.html"/>Actividades</a></li>
                    <li><a id="btn2" href="contactos.html"/>Contactos</a></li>
                    <li><a id="btn2" href="links.html"/>Links</a></li>
                    <li><a id="btn2" href="https://www.facebook.com/centrodeestudiosydesarrollo/photos_stream"/>Fotos</a></li>
                    <li><a id="btn2" href="videos.html"/>Videos</a></li>
				</ul>
                </div>
               
            </div>
            
            
            
		</div>
        </div>	
	</body>