<script>
$(window).load(function() {
  $('.blueberry').blueberry();
});
</script>

<div class="blueberry">
  <ul class="slides">
    <li><img src="images/slide_1.png" /></li>
    <li><img src="images/slide_2.png" /></li>
    <li><img src="images/slide_3.png" /></li>
    <li><img src="images/slide_4.png" /></li>
    <li><img src="images/slide_5.png" /></li>
  </ul>
</div> 
<div id="center_left">
<h1>¿Quiénes somos? Y toda la explicación de que hacemos.</h1>
<p>El Centro de Estudios, Investigación y Desarrollo Profesional nuclea a los jóvenes
estudiantes, profesionales y personas interesadas que desde una nueva perspectiva
intentan pensar y resignificar la realidad política y social que define nuestro tiempo.
Surge de la necesidad manifiesta de profesionales y futuros profesionales de crear
un espacio de debate y una mirada ampliada sobre la realidad, revalorizando el papel
fundamental de la educación (formal y no formal) como medio de acción para trasformar
la sociedad.</p>
<p>Muchos de los integrantes del Centro venimos de un origen humilde pero gracias al
  esfuerzo económico de las familias y al esfuerzo propio, decidimos estudiar. Cuestión
  que lejos de resumirse a una mejora económica, es también un deseo de mejora personal
  que se suma a un deseo de participación en el espacio político y social. Desde este Centro
  entendemos la política como un espacio de debate, de discusión donde el aporte de cada
  mirada, de cada profesión, de cada experiencia de vida hace a un entendimiento más
  global pero también más específico sobre los problemas que atañen a la vida en sociedad.
  El trabajo del centro no se resume a una mera discusión y descripción sobre la realidad
  desde distintas miradas, sino que también, y sobre todo, se propone planes de acción
  directa sobre las discusiones mediante la planificación de investigaciones, puesta en
  marcha, desarrollo y realización de proyectos que contribuyan a la mejora del espacio
  político y social, y que resinifique las profesiones de cada uno de los integrantes en tanto
  no se trata de sólo una mirada teórica, sino que se trata de una práctica sobre la realidad.
  Cada encuentro se enmarca en un tema específico propuesto desde las necesidades
  reales de pensar y trabajar sobre determinada cuestión, se debate, discute y se toma una
  posición al respecto para plantear los posibles caminos de acción. Se distribuyen roles
  y obligaciones en relación a los recursos disponibles y se inicia un plan de acción donde
  todos los participantes son protagonistas.</p>

<p class="special">"El mundo lo construimos y hacemos entre todos."</p>
</div>
