<script>
function mycarousel_initCallback(carousel)
{
  // Pause autoscrolling if the user moves with the cursor over the clip.
  carousel.clip.hover(function() {
      carousel.stopAuto();
  }, function() {
      carousel.startAuto();
  });
};

$(document).ready(function () {
  $('#jcarousel').jcarousel({
    animation: {
        'duration': 800,
        'easing':   'linear'
    },
    auto: 3,
    wrap: 'circular',
    initCallback: mycarousel_initCallback
  }).jcarouselAutoscroll({});
  var list = [
  "El sabio no dice nunca todo lo que piensa, pero piensa todo lo que dice. Aristóteles",
  "La violencia es el miedo a los ideales de los demás. Gandhi",
  "Actúa en vez de suplicar. Sacrifícate sin esperanza de gloria ni recompensa. Si quieres conocer los milagros, hazlos tú antes. Sólo así podrá cumplirse tu peculia destino. Beethoven",
  "Y todo lo que aún no ha nacido puede nacer todavía siempre que no nos contentemos con ser simples órganos de repetición. Antonin Artaud",
  "La actitud ante este algo no decidido, pero decidible por el trabajo y la acción mediata se llama optimismo militante. Ernest Bloh",
  "En cuestiones de cultura y saber sólo se pierde lo que se guarda; sólo se gana lo que se da. Antonio Machado",
  "¿Entonces para qué sirve la utopía? Para eso. Sirve para avanzar. Eduardo Galeano",
  "El que no cultiva su mente, va derecho a la disgregación de su personalidad. No desbaratar la propia ignorancia es perecer en vida. José Ingenieros",
  "Los que sueñan de día son consientes de muchas cosas que escapan a los que sueñan sólo de noche. Edgar Allan Poe",
  "Dime y lo olvido, enséñame y lo recuerdo, involúcrame y lo aprendo. Benjamin Franklin",
  "La cultura no es atributo exclusivo de la burguesía. Los llamados 'ignorantes' son hombres y mujeres cultos a los que se les ha negado el derecho de expresarse y por ello son sometidos a vivir en una 'cultura del silencio'. Paulo Freire",
  "El objeto de la educación es formar seres aptos para gobernarse a sí mismos, y no para ser gobernados por los demás. Herbert Spencer"];  // list of blurbs

  var txt = $('#txtlzr');  // The container in which to render the list

  var options = {
    duration: 2000,          // Time (ms) each blurb will remain on screen
    rearrangeDuration: 200, // Time (ms) a character takes to reach its position
    effect: 'random',        // Animation effect the characters use to appear
    centered: true           // Centers the text relative to its container
  }

  txt.textualizer(list, options); // textualize it!
  txt.textualizer('start'); // start
});
</script>

<div id="jcarousel">
  <ul>
    <% if @news.size == 0 %>
      <li><img src="images/slide_1.png" /></li>  
      <li><img src="images/slide_2.png" /></li>
      <li><img src="images/slide_3.png" /></li>
      <li><img src="images/slide_4.png" /></li>
      <li><img src="images/slide_5.png" /></li>
    <% else %>
      <% @news.each do |p| %>
         <li class="innercontent">
          <img src="<%= p.photo.url(:large) %>" width="650px" height="200px"/>
          <div style="margin-top:20px;">
            <h3><%= p.title %></h3>
            <p><%= p.description %></p>
          <div>
        </li> 
      <% end %>
    <% end %>
  </ul>
</div> 
<div id="center_left">
<h2 id="objective-title">Objectivos Principales. </h2>
<div class="number-list">
  <ol>
    <li><span>1.</span><p>Promover la actividad académica de grado y/o terciaria delos estudiantes que se encuentren transitando el último año de la enseñanza secundaria.</p></li>
    <li><span>2.</span><p>Desarrollar un ambiente de cordialidad y solidaridad entre sus asociados y propender al mejoramiento intelectual y cultural de los mismos.</p></li>
    <li><span>3.</span><p>Introducir en las escuelas las ofertas de educación superior, dentro de una actividad pedagógica y de recreación con los estudiantes.</p></li>
    <li><span>4.</span><p>Propulsar la cultura desarrollando toda clase de encuentros y charlas fomentándolas entre la población y en especial entre los jóvenes.</p></li>
    <li><span>5.</span><p>Fortalecer las instituciones educativas, recreando una actividad que fomente la inserción profesional y continúe con una cultura de estudio.</p></li>
  </ol>
</div>
<div id="txtlzr"> </div>

<p class="special">"El mundo lo construimos y hacemos entre todos."</p>
</div>

<%= erb :_centerRight %>
