<script>
$(window).load(function() {
  $('.blueberry').blueberry();
});


$(document).ready(function () {
  var list = ['first blurb', 'second blurb', 'third blurb'];  // list of blurbs

  var txt = $('#txtlzr');  // The container in which to render the list

  var options = {
    duration: 1000,          // Time (ms) each blurb will remain on screen
    rearrangeDuration: 500, // Time (ms) a character takes to reach its position
    effect: 'random',        // Animation effect the characters use to appear
    centered: true           // Centers the text relative to its container
  }

  txt.textualizer(list, options); // textualize it!
  txt.textualizer('start'); // start
});
</script>

<div class="blueberry">
  <ul class="slides">
    <% if @news.nil? %>
      <li><img src="images/slide_1.png" /></li>  
      <li><img src="images/slide_2.png" /></li>
      <li><img src="images/slide_3.png" /></li>
      <li><img src="images/slide_4.png" /></li>
      <li><img src="images/slide_5.png" /></li>
    <% else %>
      <% @news.each do |p| %>
        <li><img src="<%= p.photo.url(:large) %>" /></li> 
      <% end %>
    <% end %>
  </ul>
</div> 
<div id="center_left">
<h1>&iquest;Qui&eacute;nes somos? Y toda la explicaci&oacute;n de que hacemos.</h1>
<p>El Centro de Estudios, Investigaci&oacute;n y Desarrollo Profesional nuclea a los j&oacute;venes
estudiantes, profesionales y personas interesadas que desde una nueva perspectiva
intentan pensar y resignificar la realidad pol&iacute;tica y social que define nuestro tiempo.
Surge de la necesidad manifiesta de profesionales y futuros profesionales de crear
un espacio de debate y una mirada ampliada sobre la realidad, revalorizando el papel
fundamental de la educaci&oacute;n (formal y no formal) como medio de acci&oacute;n para trasformar
la sociedad.</p>
<div id="txtlzr"> </div>

<p class="special">"El mundo lo construimos y hacemos entre todos."</p>
</div>

<%= erb :_centerRight %>
