<script>
  $(document).ready(function () {
    $("#accordion").accordion();
  });
</script>
<div id="center_left">
  <h2>Links Utiles: </h2>
  <div id="accordion">
    <h3><a href="#">Historia</a></h3>
    <div class="number-list">
      <ol>
        <li><span>1.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Argentina</p></li>
        <li><span>2.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Sudamericana</p></li>
        <li><span>3.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Brasilera</p></li>
        <li><span>4.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia de la Politica</p></li>
        <li><span>5.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Humana</p></li>
      </ol>
    </div>
    <h3><a href="#">Politica</a></h3>
    <div class="number-list">
      <ol>
        <li><span>1.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Argentina</p></li>
        <li><span>2.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Sudamericana</p></li>
        <li><span>3.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Brasilera</p></li>
        <li><span>4.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia de la Politica</p></li>
        <li><span>5.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Humana</p></li>
      </ol>
    </div>
    <h3><a href="#">Social</a></h3>
    <div class="number-list">
      <ol>
        <li><span>1.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Argentina</p></li>
        <li><span>2.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Sudamericana</p></li>
        <li><span>3.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Brasilera</p></li>
        <li><span>4.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia de la Politica</p></li>
        <li><span>5.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Humana</p></li>
      </ol>
    </div>
    <h3><a href="#">Cultura</a></h3>
    <div class="number-list">
     <ol>
        <li><span>1.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Argentina</p></li>
        <li><span>2.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Sudamericana</p></li>
        <li><span>3.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Brasilera</p></li>
        <li><span>4.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia de la Politica</p></li>
        <li><span>5.</span><p><a href="http://www.facebook.com">link 1 </a></br> Conoce todo sobre Historia Humana</p></li>
      </ol>
    </div>
  </div>
</div>
<%= erb :_centerRight %>