<div id="center_left">
	<h3> ¿Quiénes somos? </h3>
	<p>
		El Centro de Estudios, Investigación y Desarrollo Profesional nuclea a los jóvenes
		estudiantes, profesionales y personas interesadas que desde una nueva perspectiva
		intentan pensar y resignificar la realidad política y social que define nuestro tiempo.
		Surge de la necesidad manifiesta de profesionales y futuros profesionales de crear
		un espacio de debate y una mirada ampliada sobre la realidad, revalorizando el papel
		fundamental de la educación (formal y no formal) como medio de acción para trasformar
		la sociedad.
  </p>
	<p>
		El trabajo del centro no se resume a una mera discusión y descripción sobre la realidad
		desde distintas miradas, sino que también, y sobre todo, se propone planes de acción
		directa sobre las discusiones mediante la planificación de investigaciones, puesta en
		marcha, desarrollo y realización de proyectos que contribuyan a la mejora del espacio
		político y social, y que resinifique las profesiones de cada uno de los integrantes en tanto
		no se trata de sólo una mirada teórica, sino que se trata de una práctica sobre la realidad.
  </p>
  <h3>Nuestros Objectivos. </h3>
	<ul>
	  <li>Promover la actividad académica de grado y/o terciaria delos estudiantes que se encuentren transitando el último año de la enseñanza secundaria.</li>
	  <li>Incentivar por vías del estudio un futuro desarrollo laboral.</li>
	  <li>Introducir en las escuelas las ofertas de educación superior, dentro de una actividad pedagógica y de recreación con los estudiantes.</li>
	  <li>Abrir el espectro universitario local.</li>
	  <li>Fortalecer las instituciones educativas, recreando una actividad que fomente la inserción profesional y continúe con una cultura de estudio.</li>
	  <li>Promover el progreso en general de la zona en la que ejercerá su acción.</li>
	  <li>Realizar espectáculos públicos concordantes con los fines sociales.</li>
	  <li>Propulsar la cultura desarrollando toda clase de encuentros y charlas fomentándolas entre la población y en especial entre los jóvenes.</li>
	  <li>Dedicar preferentemente atención al desarrollo de actividades socio-culturales.</li>
	  <li>Propiciar la creación de espacios de formación, educacionales y bibliotecas en la zona.</li>
	  <li>Brindar cursos de capacitación y perfeccionamiento a cargo de profesionales habilitados.</li>
	  <li>Puesta en funcionamiento de un consultorio jurídico gratuito a cargo de profesionales habilitados.</li>
	  <li>Desarrollar actividades recreativas, deportivas, manualidades, cursos, eventos, encuentros, simulacros del funcionamiento de órganos estatales para jóvenes estudiantes</li>
	  <li>Organizar viajes y excursiones de carácter turístico únicamente para asociados.</li>
	  <li>Relacionarse con entidades de iguales características y organismos Municipales, Provinciales o Nacionales, Públicos o Privados para el logro de sus finalidades.</li>
	  <li>Desarrollar un ambiente de cordialidad y solidaridad entre sus asociados y propender al mejoramiento intelectual y cultural de los mismos.</li>
	  <li>Todo lo precedentemente anunciado se llevara a cabo sin fines de lucro y a cargo de personal idóneo y/o habilitado</li>
	</ul>
</div>
<%= erb :_centerRight %>
