<div id="center_left">
  <div class="noticias">
    <% if logged_in? %>
    <div class="id_noticia">
      <h1>Nueva noticia</h1>
      <form action="/news/create" method="post">
        Titulo: <input type="text" name="title"/>
        Descripcion: <textarea name="description"> </textarea>
        Fb link: <input type="text" name="link"/>
        <input class="btn_vermas" type="submit" value="Crear" />
      </form>
    </div>
    <% end %>
    <% @news.each do |p| %>
    <div class="id_noticia">
      <h1><%=p.title%></h1>
      <p><%=p.description%></p>
      <div class="btn_vermas"><a href="<%=p.link%>">Ver mas</a></div>
    </div>
    <%end%>
  </div>
</div>


