<div id="center_left">
  <div class="noticias">
    <div class="id_noticia">
      <h1>Lorem ipsum sit amet</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <div class="btn_vermas"><a href="#">Ver mas</a></div>
    </div>
  </div>
</div>
<div class="center_right">
  <div class="links_social">
    <a href="#"><img src="images/facebook.png" /></a>
  </div>
  <div class="links_social">
    <a href="#"><img src="images/twitter.png" /></a>
  </div>
  <div class="links_social">
    <img src="images/contacto.png" />
  </div>
  <%= erb :_contact %>
</div>  


